#*******************************
#use this to reset gitignore
#git rm -r --cached .
#git add .
#*******************************
packages
bin/
*/bin
*/bin/*
**/bin/
*/obj
*csproj.user
.vs
*.user
*/TestResults
test-credentials.txt